:root {
    --color-front: brown;
    --color-back: bisque;
    --color-back-aside: rgb(226, 182, 111);
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
}

/* Estilos del header */

body>header {
    color: var(--color-back);
    background-color: var(--color-front);
    text-align: center;
    position: relative;
    font-size: 2rem;
}
body>header h1 {
    margin: 0;
    padding: 1rem 0rem;
    font-size: 2rem;
}

.logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.menu-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
   /*  cursor: pointer; */
    color: inherit;
    text-decoration: none;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
}

.hide {
    display: none;
}

/* Estilos del footer */

body>footer {
    color: var(--color-back);
    background-color: var(--color-front);
    text-align: center;
    padding: 1rem 0rem 1.3rem 0rem;
}

/* Estilos del contenido */

.content-wrapper {
    margin: 1rem 0.5rem ;
}
.image-wrapper {
    width: 90%;
    margin: 0.3rem auto;
}

img {
    max-width: 100%;
}


@media screen and (min-width: 600px) {
    .menu-icon {
        display: none;
    }
    
    .hide {
        display: initial;
    }

    body>header h1 {
        font-size: 3rem;
        padding: 2rem 0rem 1rem 0rem;
    }

    .logo {
        left: 3rem;
        top: 3rem;
    }
}

@media screen and (min-width: 700px) {

    .image-wrapper {
        width: 50%;
        float: left;
        margin: 0.3rem 1rem 0.3rem 0; 
    }
}

@media screen and (min-width: 800px) {

    /* Cambio de layout con inline-block */
    /* main, aside {
        display: inline-block;
        vertical-align: top;
    }
    main {
        width: 70%;
        padding: 0 0.5rem;
    }
    aside {
        width: 30%;
        margin-right: -4px;
        padding: 0 0.5rem;
        background-color: var(--color-back-aside);
    } */
    
    /* Cambio de layout con float */
    /* main, aside {
        float: left;
    }
    main {
        width: 70%;
        padding: 0 0.5rem;
    }
    aside {
        width: 30%;
        padding: 0 0.5rem;
        background-color: var(--color-back-aside);
     }   

     /*.clearfix  */
     /*
    .content-wrapper:after{
        content: '';
        display: block;
        clear: both;
     } */

     .content-wrapper {
         display: table;
     }

     main {
        display: table-cell;
        width: 70%;
        padding: 0 0.5rem;
    }
    aside {
        display: table-cell;
        width: 30%;
        padding: 0 0.5rem;
        background-color: var(--color-back-aside);
     }  

     .image-wrapper {
        float: none;
        width: 90%;
        margin: 0.3rem auto;
    }
}

@media screen and (min-width: 1000px) {

    .image-wrapper {
        width: 50%;
        float: left;
        margin: 0.3rem 1rem 0.3rem 0; 
    }
}